<div class="welcome">
	<div class="welcome__inner container">
		<div class="welcome__logo">
			<img src="img/glx-logo.png" alt="">
		</div>
		<div class="welcome__title">
			<img src="img/title.png" alt="">
		</div>
		<div class="welcome__people">
			<img src="img/glx-people.png" alt="">
		</div>
		<div class="welcome__text-block">
			<img class="welcome__notebook welcome__notebook_end" src="img/notebook.png">
			<a href="#" class="s4">Правила акции</a>
		</div>
	</div>
</div>