<div class="welcome">
	<div class="welcome__inner container">
		<div class="welcome__title">
			<img src="img/glx-title.png" alt="">
		</div>
		<div class="welcome__people">
			<img src="img/glx-young-people.png" alt="">
		</div>
		<div class="welcome__text-block">
			<p class="s1 mobile-hide">Совершай покупки <br>
				<span class="s1-black">с</span> 12 сентября <span class="s1-black">по</span> 24 октября <br>
				<span class="s1-black">в отделах<sup>*</sup> ТРЦ &laquo;Galaxy&raquo; на сумму</span> от 1000 рублей
			</p>
			<p class="mobile-hide"><sup>*</sup><a href="#">Список отделов</a>, участвующих в акции</p>
			<div class="welcome__btn-block">
				<a href="javascript:void(0);" class="btn">Регистрация чека</a>
				<a href="javascript:void(0);" class="btn btn_inverted">Проверить свой чек</a>
			</div>
			<div class="welcome__rows">
				<div class="welcome__rows-item mobile-hide"><span class="s1 s1_upper">Участвуй в розыгрыше</span></div>
				<div class="welcome__rows-item mobile-hide">
					<div class="welcome__rows-inner">
						<b>10 участников</b> <br>
						<span>получат по <b class="colored">50 000 руб.</b></span>
					</div>
				</div>
				<div class="welcome__rows-item mobile-hide">
					<div class="welcome__rows-inner">
						<b>1 счастливчик</b> <br>
						<span>получит <b class="colored">500 000 руб.</b></span>
					</div>
				</div>
			</div>
			<a href="#" class="s4">Правила акции</a>
		</div>
	</div>
</div>