.welcome {
	background:     linear-gradient(180deg, #FFA221 0%, #FFD526 94.11%);
	//mask-border:    url('../img/svg/glx-welcome-bg.svg') 0;
	position:       relative;
	padding-bottom: 230px;

	@media @desktop {
		//mask-border: url('../img/svg/glx-welcome-bg.svg') 0;
	}

	@media @mobile {
		mask-border: url('../img/svg/glx-welcome-bg-2x.svg') 0;
	}

	&__title-win {
		text-align:    center;
		font-weight:   bold;
		font-size:     64px;
		line-height:   normal;
		color:         #E32026;
		margin-bottom: 50px;
	}

	&__logo {
		max-width: 304px;
		height:    87px;

		@media @desktop {
			margin: auto auto 60px;
		}

		@media @mobile {
			margin: 0 auto 20px;
		}

		img {
			width:      100%;
			height:     100%;
			object-fit: contain;
		}
	}

	&__title {
		position:  absolute;
		max-width: 1400px;
		height: 720px;
		left: 2vw;
		top: -120px;
		z-index: 1;

		@media @mobile {
			position: relative;
			top: 0;
			left: 0;
			height: auto;
		}

		img {
			width: 100%;
		}
	}

	&__people {
		max-width: 790px;
		right: 0;
		bottom: 150px;
		z-index:   2;
		position:  absolute;

		&_win {
			max-width: 50%;

			@media (max-width: 768px) {
				max-width: 50%;
			}
		}

		@media @mobile {
			max-width: 400px;
			bottom: 120px;
		}

		@media (max-width: 768px) {
			width: 100%;
			bottom: 20px;
		}

		img {
			width:    100%;
		}
	}

	&__btn-prize {
		@media (min-width: 1200px) {
			position: absolute;
			top:      0;
			right:    0;
		}

		@media @mobile {
			position: relative;
			margin:   0 auto 20px;
		}

		background:      rgba(255, 255, 255, 0.2);
		border:          2px solid #FFFFFF;
		box-sizing:      border-box;
		border-radius:   4px;
		font-size:       16px;
		line-height:     24px;
		text-align:      center;
		color:           #FFFFFF;
		text-decoration: none;
		padding:         8px 16px;
		transition:      all .3s ease;

		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}
	}

	&__inner {

		@media @mobile {
			display:        flex;
			flex-direction: column;
			min-height: 600px;
		}
	}

	&__text-block {
		max-width:  570px;
		padding-top: 600px;
		position:   relative;
		z-index:    6;

		@media @mobile {
			padding-top: 0;
		}
	}

	.colored {
		color: #E32929;
	}

	.s1 {
		font-family: Roboto;
		font-style:  normal;
		font-weight: bold;
		font-size:   26px;
		line-height: normal;
		color:       #E32929;
		text-shadow: -0   -1px 0 #FFFFFF,
						 0   -1px 0 #FFFFFF,
					 -0 1px 0 #FFFFFF,
					 0 1px 0 #FFFFFF,
						 -1px -0   0 #FFFFFF,
						 1px -0   0 #FFFFFF,
					 -1px 0 0 #FFFFFF,
					 1px 0 0 #FFFFFF,
						 -1px -1px 0 #FFFFFF,
						 1px -1px 0 #FFFFFF,
					 -1px 1px 0 #FFFFFF,
					 1px 1px 0 #FFFFFF,
						 -1px -1px 0 #FFFFFF,
						 1px -1px 0 #FFFFFF,
					 -1px 1px 0 #FFFFFF,
					 1px 1px 0 #FFFFFF,
						 -1px -1px 0 #FFFFFF,
						 1px -1px 0 #FFFFFF,
					 -1px 1px 0 #FFFFFF,
					 1px 1px 0 #FFFFFF,
						 -1px -1px 0 #FFFFFF,
						 1px -1px 0 #FFFFFF,
					 -1px 1px 0 #FFFFFF,
					 1px 1px 0 #FFFFFF;

		&_upper {
			font-size: 30px;
			text-transform: uppercase;
		}
	}

	.s1-black {
		font-family: Roboto;
		font-style:  normal;
		font-weight: normal;
		font-size:   22px;
		line-height: normal;
		color:       #000;
		text-shadow: -0   -1px 0 #FFFFFF,
			0   -1px 0 #FFFFFF,
		-0 1px 0 #FFFFFF,
		0 1px 0 #FFFFFF,
			-1px -0   0 #FFFFFF,
			1px -0   0 #FFFFFF,
		-1px 0 0 #FFFFFF,
		1px 0 0 #FFFFFF,
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF,
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF,
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF,
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF;
	}

	.s2 {
		max-width: 214px;
	}

	.s3 {
		color:       #E32929;
		font-weight: bold;
		font-size:   28px;
		line-height: 42px;
	}

	&__btn-block {
		margin-top: 27px;
	}

	@media @mobile {
		&__btn-block {
			display:        flex;
			flex-direction: column;
			width:          225px;
			margin:         auto;

			.btn {
				margin-top: 5px;
			}
		}

		&__text-block {
			max-width:       100%;
			display:         flex;
			flex-direction:  column;
			justify-content: center;
			align-items:     center;
		}
	}

	&__rows {
		margin-top: 40px;
		max-width: 517px;

		&-item {
			padding-bottom: 5px;
			border-bottom: 2px solid #e31e24;
			font-family: Roboto;
			font-size:   30px;
			line-height: normal;
			color:       #000;
		}

		&-inner {
			padding: 15px 0 10px 0;
		}
	}
}