<div class="winners">
	<div class="winners__inner container">
		<h3 class="winners__title">Наши победители</h3>
		<div class="winners__card winners__card_big">
			<div class="winners__card-image">
				<img src="img/photo.jpg" alt="">
			</div>
			<p class="winners__card-name">Константинопольский Константин Константинович</p>
			<div class="winners__card-price-block">
				<span class="winners__card-text">Выигрыш</span>
				<span class="winners__card-value">500 000₽</span>
			</div>
		</div>
		<div class="winners__card-table">
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>
			<div class="winners__card winners__card_small">
				<div class="winners__card-image">
					<img src="img/photo.jpg" alt="">
				</div>
				<p class="winners__card-name">Константинопольский Константин Константинович</p>
				<div class="winners__card-price-block">
					<span class="winners__card-text">Выигрыш</span>
					<span class="winners__card-value">500 000₽</span>
				</div>
			</div>


		</div>
	</div>
</div>