.winners {
	&__card {
		width:           100%;
		background-size: contain;
		display:         flex;

		&_big {
			padding:             0 109px 0 60px;
			align-items:         center;
			background:          url("../img/svg/glx-card-bg.svg") no-repeat;
			background-position: 0 70px;

			.winners__card-image {
				width:  347px;
				height: 347px;
			}

			@media @mobile {
				margin:              auto;
				flex-direction:      column;
				align-items:         center;
				padding:             0 20px;
				width:               ~'calc(20% - 20px)';
				background:          url("../img/svg/glx-card-small-bg.svg") no-repeat;
				background-position: 0 75px;
				background-size:     contain;
				min-width:           210px;

				.winners__card-image {
					width:  154px;
					height: 154px;
				}

				.winners__card-image {
					width:  154px;
					height: 154px;
				}

				.winners__card-price-block {
					margin-top:   30px;
					margin-left:  0;
					margin-right: auto;
				}

				.winners__card-name {
					margin-top:  16px;
					font-size:   16px;
					line-height: 24px;
					max-width:   217px;
				}

				.winners__card-text {
					font-size:   16px;
					line-height: normal;
					color:       #BDBDBD;
				}

				.winners__card-value {
					font-weight: bold;
					font-size:   32px;
					line-height: normal;
					text-align:  center;
					color:       #000000;
				}

			}
		}

		&_small {
			flex-direction:      column;
			align-items:         center;
			padding:             0 20px;
			width:               ~'calc(20% - 20px)';
			background:          url("../img/svg/glx-card-small-bg.svg") no-repeat;
			background-position: 0 75px;
			background-size:     contain;
			margin-right:        20px;
			margin-top:          20px;
			min-width:           210px;

			.winners__card-image {
				width:  154px;
				height: 154px;
			}

			.winners__card-price-block {
				margin-top:   30px;
				margin-left:  0;
				margin-right: auto;
			}

			.winners__card-name {
				margin-top:  16px;
				font-size:   16px;
				line-height: 24px;
				max-width:   217px;
			}

			.winners__card-text {
				font-size:   16px;
				line-height: normal;
				color:       #BDBDBD;
			}

			.winners__card-value {
				font-weight: bold;
				font-size:   32px;
				line-height: normal;
				text-align:  center;
				color:       #000000;
			}

		}
	}

	&__card-image {
		border-radius: 50%;
		overflow:      hidden;

		img {
			width:      100%;
			height:     100%;
			object-fit: cover;
		}
	}

	&__card-name {
		max-width:   300px;
		margin:      auto;
		font-size:   24px;
		line-height: 36px;
		height:      108px;
		color:       #000000;
	}

	&__card-price-block {
		margin-left:    auto;
		display:        flex;
		flex-direction: column;
	}

	&__card-value {
		font-weight: bold;
		font-size:   64px;
		line-height: normal;
		text-align:  center;
		color:       #E32929;
	}

	&__card-text {
		font-size:   16px;
		line-height: normal;
		color:       #333333;
	}

	&__title {
		font-weight: bold;
		font-size:   48px;
		line-height: normal;
		text-align:  center;
		color:       #333333;
	}

	&__card-table {
		padding-top:     70px;
		display:         flex;
		flex-wrap:       wrap;
		justify-content: center;
	}
}