<div class="footer">
	<div class="footer__inner container">
		<div class="footer__column footer__column_vertical m-sort-2">
			<div class="footer__icon footer__icon_geo"></div>
			<p>г. Барнаул, пр-т. Строителей, 117</p>
		</div>
		<div class="footer__column footer__column_horizontal m-sort-3">
			<a href="#" class="footer__icon footer__icon_social footer__icon_vk"></a>
			<a href="#" class="footer__icon footer__icon_social footer__icon_fl"></a>
			<a href="#" class="footer__icon footer__icon_social footer__icon_in"></a>
		</div>
		<div class="footer__column footer__column_vertical m-sort-1">
			<div class="footer__icon footer__icon_calendar"></div>
			<p>Ежедневно с 10:00 до 22:00</p>
		</div>
	</div>
</div>