.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  clip-path: ellipse(50% 100% at 50% 100%);
  background: #FFF;
  min-height: 173px;
  font-size: 20px;
  line-height: 24px;
  color: #333;

  &_static {
    position: static;
  }

  @media @mobile {
    font-size: 18px;

  }

  @media @mobile {
    clip-path: ellipse(125% 100% at 50% 100%);
  }

  .footer__inner {
    display: flex;
    min-height: 173px;
    padding-top: 50px;

    @media @mobile {
      flex-direction: column;
      align-items: center;
      padding: 50px 10px 20px 10px;
    }
  }

  &__column {
    flex: 1;
    display: flex;

    &_vertical {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 10px;
      }
    }

    &_horizontal {
      justify-content: space-around;
      align-items: center;
      flex: 0 0 168px;
      width: 168px;;

      @media @mobile {
        flex: 0 0 100px;
      }
    }
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: opacity .3s ease, transform 1s ease;

    &_geo {
      background-image: url("../img/svg/glx-footer-geo.svg");
    }

    &_calendar {
      background-image: url("../img/svg/glx-social-calendar.svg");
    }

    &_vk {
      background-image: url("../img/svg/glx-social-vk.svg");
    }

    &_ok {
      background-image: url("../img/glx-social-ok.png");
    }

    &_fl {
      background-image: url("../img/svg/glx-social-fl.svg");
    }

    &_in {
      background-image: url("../img/svg/glx-social-in.svg");
    }

    &_social {
      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }

  @media @mobile {
    .m-sort-1 {
      order: 1;
    }

    .m-sort-2 {
      order: 2;
    }

    .m-sort-3 {
      order: 3;
    }
  }
}