<div class="finish" id="check-bill">
	<div class="finish__inner container container_small">
		<div class="finish__row">
			<div class="finish__column finish__column_icon mobile-hide">
				<img src="img/glx-check.png" alt="">
			</div>
			<div class="finish__column finish__column_title">
				<h3 class="finish__title">Проверка чека</h3>
				<p class="finish__sub-title">Введите свой номер телефона, указанный при регистрации чека, чтобы проверить его статус</p>
			</div>
			<div class="finish__column">
				<form class="finish__form">
					<span class="finish__input-title">Номер телефона, указанный при регистрации</span>
					<input type="text" class="finish__input js-phone" placeholder="+7 (___) ___ __ __">
					<a href="javascript:void(0);" class="btn finish__form-btn">Проверить статус чека</a>
				</form>
			</div>
		</div>
		<div class="finish__status">
			<p class="finish__sub-title">Есть вопрос по акции или сложности с регистрацией чека? Пиши <a href="mailto:a83@pervymall.ru">a83@pervymall.ru</a></p>
		</div>
		<div class="finish__inner container ">
			<div class="finish__row">
				<b class="finish__attention">Ждем тебя на главном розыгрыше <br>
					27 ОКТЯБРЯ в 17:00 <br>
					в центральном атриуме ТРЦ GALAXY</b>
			</div>
		</div>
		<div class="finish__status">
			<p class="finish__sub-title">Розыгрыш призов проводится ТОЛЬКО среди присутствующих участников</p>
		</div>
	</div>

	@@include('../footer/index.html')
</div>