.finish {
	background:     linear-gradient(180deg, #FFA221 -18.66%, #FFD526 100%);
	position:       relative;
	padding-bottom: 200px;
	min-height:     300px;


	@media @desktop {
		padding-top: 267px;
	}

	@media @mobile {
		padding-top: 170px;
		padding-bottom: 400px;
	}

	&__row {
		display:         flex;
		justify-content: center;

		@media @mobile {
			flex-direction: column;
			align-items:    center;
		}

		.finish__sub-title {
			padding: 0;
		}
	}

	&__column {
		margin:    10px;
		max-width: 384px;

		&_icon {
			padding-top: 40px;
		}

		&_title {
			padding-top: 28px;
		}
	}

	&__attention {
		color:       #E32929;
		font-size:   35px;
		line-height: 42px;
		text-align:  center;
	}

	&__title {
		font-weight: bold;
		font-size:   44px;
		line-height: normal;
		color:       #333333;
		margin:      0;
	}

	&__sub-title {
		font-size:   16px;
		line-height: 24px;
		color:       #4F4F4F;

		@media @desktop {
			padding-top: 24px;
		}
	}

	&__input-title {
		font-size:   14px;
		line-height: 24px;
		text-align:  center;
		color:       #333333;
	}

	&__input {
		background:    #FFFFFF;
		border-radius: 4px;
		border:        0;
		padding:       16px;
		width:         100%;
		font-size:     16px;
		line-height:   24px;
		color:         #4F4F4F;

		//@media @desktop {
		//	text-align: center;
		//}
	}

	&__form-btn {
		display:    block;
		margin-top: 24px;
	}

	&__form {
		@media @desktop {
			text-align: center;
		}
	}

	&__logo {
		background:    #FFFFFF;
		border-radius: 50px;
		width:         288px;
		height:        101px;
		display:       flex;
		margin-top:    60px;

		img {
			margin: auto;
			width:  176px;
			height: 51px;
		}
	}

	&__status {
		text-align: center;
	}

	&__status-heading {
		font-weight: bold;
		font-size:   32px;
		line-height: normal;
		text-align:  center;
		color:       #333333;
	}

	&__card {
		margin-top:    8px;
		background:    #FFFFFF;
		border-radius: 4px;
		padding:       20px 24px;
		display:       flex;

		@media @mobile {
			flex-direction:  column;
			align-items:     center;
			justify-content: center;
		}
	}

	&__card-text {
		font-size:   18px;
		line-height: 24px;
		text-align:  center;
		color:       #000000;
	}

	&__card-status {
		font-size:    18px;
		line-height:  24px;
		text-align:   right;
		position:     relative;
		padding-left: 30px;

		@media @desktop {
			margin-left: auto;
		}

		&_st1 {
			&:after {
				background: url("../img/glx-st1.png") no-repeat;
			}
		}

		&_st2 {
			&:after {
				background: url("../img/glx-st2.png") no-repeat;
			}
		}

		&_st3 {
			&:after {
				background: url("../img/glx-st3.png") no-repeat;
			}
		}

		&:after {
			width:           24px;
			height:          24px;
			background-size: contain;
			position:        absolute;
			content:         '';
			left:            0;
			top:             0;
		}
	}

}