<div class="partners">
    <div class="container partners__inner">
        <div class="partners__tv mobile-hide"></div>
        <div class="partners__text-block">
            <div class="partners__rows">
                <div class="partners__row">
                    <div class="partners__title-block">
                        <span>а также,</span><br>
                        <b class="partners__title-upper">выиграй призы от партнеров</b><br>
                        <span>для своих покупателей</span>
                    </div>
                </div>
                <div class="partners__row">
                    <div class="partners__row-inner">
                        <b>М.Видео</b> — телевизор LG UHD
                        диагональю 55' за 39 990 рублей
                    </div>
                </div>
                <div class="partners__row">
                    <div class="partners__row-inner">
                        <b>Butterfly</b> — сертификат на шоппинг
                        на&nbsp;40&nbsp;000 рублей
                    </div>
                </div>
                <div class="partners__row">
                    <div class="partners__row-inner">
                        <b>@tabacandco</b>  — подарочный набор
                        на&nbsp;сумму&nbsp;40&nbsp;000 рублей
                    </div>
                </div>
            </div>
        </div>
        <div class="partners__package mobile-hide"></div>
    </div>
</div>