.partners {
  position: relative;
  margin-top: -330px;
  background: url("../img/partner-bg.png") no-repeat center;
  height: 1326px;
  z-index: 5;
  padding-bottom: 100px;
  @media @mobile {
    margin-top: -370px;
    padding-bottom: 100px;
    height: 900px;
    background-position: top center;
  }

  &__package {
    position: absolute;
    top: 0;
    right: -300px;
    background: url("../img/partners-packeges.png") no-repeat center;
    background-size: cover;
    width: 1000px;
    height: 1000px;

    @media (max-width: 1700px) {
      width: 600px;
      height: 600px;
      right: -200px;
      top: 0;
      bottom: 0;;
      left: auto;
      margin: auto;
    }
  }

  &__tv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -650px;
    right: auto;
    margin: auto;
    background: url("../img/partners-tv.png") no-repeat center;
    background-size: cover;
    width: 1300px;
    height: 900px;

    @media (max-width: 1700px) {
      width: 700px;
      height: 500px;
      left: -350px;
    }
  }

  .partners &__inner {
    padding-top: 450px;
    @media @mobile {
      padding-top: 320px;
    }
  }

  &__text-block {
    max-width: 680px;
    margin: 0 auto;

  }

  &__title {
    &-block {
      color: #ffed00;
      font-size: 26px;
      line-height: 30px;
      @media @mobile {
        font-size: 24px;
        line-height: 28px;
      }
    }
    &-upper {
      text-transform: uppercase;
    }
  }

  &__rows {

  }

  &__row {
    color: #fff;
    font-size: 27px;
    line-height: 36px;
    padding-bottom: 28px;
    border-bottom: 1px solid #ffed00;

    @media @mobile {
      font-size: 23px;
      line-height: 27px;
    }

    &-inner {
      position: relative;
      padding-top: 20px;
      padding-left: 20px;
      max-width: 550px;

      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 0;
        top: 35px;
        display: block;
        background: #fff;
        border-radius: 50%;
      }
    }
  }

}