<div class="modal modal_type_success" data-modal="success">
	<div class="modal__inner">
		<a href="javascript:void(0);" data-izimodal-close="" class="modal__exit"></a>
		<h3 class="modal__title">Спасибо</h3>
		<p class="modal__text">
			Вы стали еще на один шаг ближе к главному призу – <span class="colored_red">500 000 рублей!</span>
			Встретимся на
			подведении итогов <span class="colored_black">27 октября 17:00 в центральном атриуме ТРЦ Galaxy.</span> Удачи!
		</p>
	</div>
</div>
<div class="modal modal_type_error" data-modal="error">
	<div class="modal__inner">
		<a href="javascript:void(0);" data-izimodal-close="" class="modal__exit"></a>
		<h3 class="modal__title">Ошибка</h3>
		<p class="modal__text js-modal-error">
		</p>
	</div>
</div>