.modal {
	max-width:       800px;
	border-radius: 10px;

	&__inner {
		height:          571px;
		padding:         61px 41px;
		position:        relative;

		@media @mobile {
			padding-bottom: 30px;
		}
	}

	&__title {
		font-weight: bold;
		font-size:   48px;
		line-height: normal;
		color:       #333333;
		margin:      16px 0;
	}

	&__text {
		font-size:   18px;
		line-height: 28px;
	}

	.colored {
		&_red {
			color: #E32026;
		}

		&_black {
			color: #333333;
		}
	}

	&__exit {
		position:        absolute;
		top:             30px;
		left:            40px;
		width:           24px;
		height:          24px;
		background:      url("../img/glx-modal-exit.png") no-repeat;
		background-size: contain;
		transition:      transform .3s ease;

		&:hover {
			transform: rotate(90deg);
		}
	}

	&_type {
		&_success {
			background:      url("../img/glx-modal-bg.png") no-repeat;
			background-size: cover;

			.modal__inner {
				display:         flex;
				flex-direction:  column;
				justify-content: flex-end;
			}

			.modal__text {
				color:       #828282;
				width:       300px;
			}
		}

		&_error {
			.modal__text {
				color:       #E32026;
			}
		}
	}

}