@media (max-width: 1200px) {
  .prices {
    font-size: 14px;
  }

  .developer_object {
    margin: 30px 0 0;

    .developer {
      &__main {
        width: 100%;
        padding: 0;
        margin: 0 0 30px;
      }

      &__image {
        width: 100%;
      }
    }
  }

  .f-item_object {
    width: calc(~'50% - 10px');
  }
}

@media (max-width: 1000px) {
  .header {
    &__mob {
      display: block;
    }
  }

  .link_tel-mob {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 50px;
    width: 100%;
    flex-direction: column;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
    padding: 10px 0;

    &__bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 100%;

      li {
        margin: 15px 0;
      }
    }
  }

  .logo_header {
    &::before {
      display: block;
      content: '360°';
      font-family: @font2, sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: black;
    }
    img {
      display: none;
    }
  }

  .container {
    padding: 0 16px;
  }

  .header {
    &__top {
      display: none;
    }

    &__main {
      padding: 25px 0;
    }
  }

  .header_min {
    .header {
      &__top {
        display: block;
      }

      &__mob {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .welcome {
    padding: 30px 0 45px;
  }

  .welcome_index,
  .welcome_filter {
    padding: 30px 0 0;
    margin-bottom: 50px;
  }

  .breadcrumbs {
    font-size: 14px;
  }

  .filter {
    width: 100vw;
    position: relative;
    top: 5px;
    left: -16px;
    margin-top: 60px;
    padding: 30px 16px;

    &__body {
      flex-direction: column;
    }

    &__block {
      width: 100%;
    }

    &__block-line {
      // flex-direction: column;
      margin: 0;

      .select_l {
        width: 49%;
        max-width: 49%;
      }

      .select_m {
        width: 49%;
        max-width: 49%;
      }

      .select_lm {
        max-width: 44.86%;
      }

      .field {
        input {
          width: 100%;
        }
      }

      & > * {
        margin: 0 0 10px;
      }
    }
  }

  .feautures {
    padding: 50px 0;
  }

  .f-item {
    width: 100%;
  }

  .developers {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .dev {
    width: calc(~'50% - 10px');

    &:nth-child(1n) {
      margin: 0 0 20px;
    }
  }

  .building {
    height: auto;
    flex-direction: column-reverse;

    &__img {
      height: 264px;
      width: 100%;
    }

    &__main {
      border-right: 1px solid #b4e4ff;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }

    &__prices {
      flex-direction: column;
      width: 100%;
    }

    &__prices-content {
      display: none;
      width: 100%;
      padding: 10px 0 40px;

      .building {
        &__caption {
          display: none;
        }
      }
    }

    &__toggle {
      width: 100%;
      height: 47px;

      &::after {
        top: 17px;
        left: 17px;
        margin: 0;
        transform: rotate(45deg);
      }

      span {
        margin: 0;
        transform: none;
      }
    }

    &:hover {
      .building {
        &__prices-content {
          border-color: transparent;
        }
      }
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .building_show {
    .building {
      &__prices {
        width: 100%;
      }

      &__prices-content {
        display: block;
        border-left: 1px solid #b4e4ff;
        border-right: 1px solid #b4e4ff;
      }

      &__toggle {
        &::after {
          margin: 0;
          transform: rotate(-45deg) scaleY(-1);
        }
      }
    }
  }

  .building_mortgage {
    .building {
      &__img {
        width: 100%;
      }
    }
  }

  .prices {
    &__item {
      padding: 15px;
      white-space: normal;

      span {
        width: 28%;
      }
    }
  }

  .developer {
    margin: 50px 0;
  }

  .stats {
    flex-wrap: wrap;

    &__item {
      width: calc(~'50% - 10px');
      margin: 0 0 20px;
    }
  }

  .mortgage {
    flex-wrap: wrap;

    &__feautures {
      width: 100%;
    }

    &__form {
      padding: 0;
      margin: 20px 0 0;
      width: 100%;
    }
  }

  .object {
    &__main {
      flex-wrap: wrap;
    }

    &__block {
      width: 100%;
    }

    &__info {
      margin: 0 0 20px;
    }

    &__image {
      margin: 0 0 20px;
    }
  }

  .apartments {
    &__rooms-list {
      flex-wrap: wrap;
    }
  }

  .apartment {
    width: calc(~'50% - 10px');
    margin: 0 0 20px;
  }

  .objects {
    &__item {
      width: 100%;

      &:nth-child(1n) {
        margin: 0 0 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .page {
    font-size: 14px;
  }

  .section {
    margin: 0 0 70px;
  }

  .welcome {
    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;

      br {
        display: none;
      }
    }
  }

  .filter {
    &__block-line {
      flex-direction: column;

      .select,
      .field {
        width: 100%;
        max-width: 100%;
      }
    }

    &__end {
      display: flex;
      justify-content: space-between;

      .btn {
        width: 49%;
      }
    }
  }

  .feautures {
    padding: 50px 0 0;
  }

  .f-item {
    flex-direction: column;
    text-align: center;

    &__ico {
      margin: 0 auto;
    }
  }

  .title {
    font-size: 24px;
  }

  .slider_special {
    margin: 0;

    .slick-slide {
      height: auto;
    }
  }

  .block {
    height: auto;

    &__wide {
      width: 100%;
    }
  }

  .slider_developers {
    margin-top: 100px;
  }

  .slider {
    &__link {
      font-size: 14px;
      top: -75px;
      left: 0;
      right: auto;
    }
  }

  .slider_reviews {
    .slick-slide {
      margin: 0;
    }
  }

  .consult {
    padding: 35px 0;
    margin-bottom: 70px;
    background-position-x: 60%;

    &__title {
      width: 240px;
      line-height: 1.2;
      font-size: 18px;
    }
  }

  .btn {
    padding: 15px 20px;
  }

  .btn_small {
    padding: 9px 11px;
  }

  .btn_transparent {
    padding: 15px 39px;
  }

  .select {
    padding: 0 5px 0 15px;
  }

  .section_reviews {
    padding: 39px 0;
  }

  .review {
    font-size: 14px;

    &__content {
      padding: 40px 29px 29px 16px;
    }
  }

  .flamp {
    p {
      display: none;
    }
  }

  .footer {
    .container {
      padding: 25px 0;
    }

    &__main {
      flex-direction: column;
      align-content: center;
    }

    &__block {
      flex-direction: column;
      align-items: center;

      &:first-child {
        display: none;
      }
    }

    &__nav {
      width: 100%;
      text-align: center;
      max-height: initial;
      margin-bottom: 30px;
    }

    &__bot {
      text-align: center;

      span {
        display: block;
        text-align: center;
        width: 100%;
      }

      span:first-child {
        display: none;
      }
    }
  }

  .footer_min {
    .footer {
      &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__block {
        &:nth-child(1n) {
          display: flex;
          flex-direction: column;
          margin: 20px 0;

          .btn {
            margin: 20px 0 0;
          }
        }
      }
    }
  }

  .dev {
    width: 100%;

    &:nth-child(1n) {
      margin: 0 0 10px;
    }
  }

  .top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }

  .section_developers {
    padding: 40px 0;
    background: #D4F1FF;
  }

  .btn_small-wide {
    padding: 8px 18px;
  }

  .pagination {
    margin-bottom: 70px;

    .arrow {
      margin: 0;
    }
  }

  .developer {
    margin: 0 0 30px;

    &__main {
      width: 100%;
      padding: 0;
    }

    &__logo {
      width: 100%;
      margin: 0 0 20px;
    }

    &__image {
      display: none;
    }
  }

  .stats {
    margin: 0 0 50px;

    &__item {
      width: 100%;
    }
  }

  .mortgage {
    padding: 16px;
    position: relative;
    left: -16px;
    width: 100vw;
    // box-shadow: none;

    &__feautures {
      flex-direction: column;
    }

    &__feautures-item {
      width: 100%;
      margin: 0 0 10px;
    }

    &__line {
      flex-direction: column;
      align-items: center;

      .field {
        width: 100%;
        margin: 0 0 20px;

        input {
          padding-right: 120px;
        }
      }

      .btn {
        position: absolute;
        right: 16px;
        height: 54px;
      }
    }
  }

  .caption {
    font-size: 16px;
  }

  .welcome {
    &__bg_mortgage {
      height: 277px;
      overflow: hidden;
    }
  }

  .feautures_mortgage {
    padding-top: 90px;
  }

  .how-works {
    &__step {
      width: 100%;
      flex: 1 1 100%;
      margin: 0 0 40px;
      font-size: 16px;
      text-align: center;
    }

    &__bot {
      p {
        margin: 10px 0;
        max-width: initial;
      }
    }
  }

  .callback {
    position: relative;
    left: -16px;
    width: 100vw;
    background: #B5DEF3;
    padding: 30px 16px;
    font-size: 16px;

    &__title {
      font-size: 24px;
      padding: 0;
    }

    &__form {
      text-align: center;

      .btn {
        display: block;
        margin: 0 auto;
        width: 180px;
        font-size: 16px;
      }
    }
  }

  .developer_object {
    .developer {
      &__image {
        display: block;
      }
    }
  }

  .object {
    &__main {
      flex-direction: column-reverse;
    }

    &__image {
      width: 100%;
      height: 55vw;

      img {
        max-width: 100%;
      }
    }

    &__feautures {
      flex-direction: column;

      li {
        width: 100%;
        margin: 0 0 10px;
      }
    }

    &__title {
      font-size: 20px;
    }

    .params {
      &__line_head {
        display: none;
      }

      &__line {
        flex-direction: column;
        line-height: 2;

        span {
          color: black;
        }
      }
    }
  }

  .block {
    flex-direction: column;

    &__wide {
      width: 100%;
      margin: 0;
    }

    &__element {
      height: 55vw;

      &:nth-child(1n) {
        margin: 0 0 10px;
      }
    }
  }

  .apartments {
    &__tabs {
      flex-wrap: wrap;

      li {
        width: 50%;
        margin: 0;
        line-height: 2;

        &.active {
          border: none;
          text-decoration: underline;
        }
      }
    }
  }

  .apartment {
    width: 100%;

    &:nth-child(1n) {
      margin: 0 0 10px;
    }
  }

  .map {
    padding-bottom: 300px;
    &__info {
      top: auto;
      left: 0;
      max-width: 100%;
      width: 100%;
      transform: none;
      bottom: 0;
    }
  }

  .call-form {
    position: relative;
    left: -16px;
    width: 100vw;

    &__block {
      padding: 40px 16px;
    }
  }

  .form_modal {
    padding: 0;
  }

  .header_min {

    .header {
      &__top {
        height: 49px;
        padding: 8px 0;
      }
    }

    .btn {
      display: none;
    }

    .link_tel {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .slider_gallery {
    width: 100vw;
    left: -16px;

    .slick-slide {
      margin: 0 16px;
    }
  }

}
