@import url('ion.rangeSlider.less');
@import url('ion.rangeSlider.skinHTML5.less');
@import url('iziModal.min.less');
@import url("normalize.less");
@import url("fonts.less");
@import url("mixins.less");
@import url('../components/welcome/style.less');
@import url('../components/bill/style.less');
@import url('../components/partners/style.less');
@import url('../components/finish/style.less');
@import url('../components/winners/style.less');
@import url('../components/modals/style.less');
@import url('../components/footer/style.less');
@import url('slick.less');
@import url('nice-select.less');
@import url('simplebar.less');

/* * * * * * * * * * *
*                    *
* Variables          *
*                    *
* * * * * * * * * * */

@font: 'Roboto';
@font2: 'Montserrat';

@mobile: ~"(max-width: 1199px)";
@desktop: ~"(min-width: 1200px)";

//colors

@black: #000000;

/* * * * * * * * * * *
*                    *
* Global             *
* Styles             *
*                    *
* * * * * * * * * * */
html,
body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.page {
	position: relative;
	z-index: 1;
	font-family: @font, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	background: white;
	color: @black;
	min-width: 320px;
	font-size: 18px;
	line-height: 28px;

	* {
		box-sizing: border-box;

		&:focus {
			outline-color: #B4E4FF;
		}
	}

	&__wrapper {
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.mobile-show {
		display: none;
	}
}

.container {
	max-width: 100%;
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;

	&_small {
		width: 800px;
	}
}

.container_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-hide {
	@media @mobile {
		display: none;
	}
}

.link {
	cursor: pointer;
	color: #67A1C1;
	text-decoration: none;
	transition: all .2s;

	svg {
		fill: #67A1C1;
	}

	&:hover {
		color: rgba(0, 0, 0, .7);
	}
}

.btn {
	background: #E32026;
	border-radius: 4px;
	padding: 16px 24px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	transition: all .3s ease;
	border: 2px solid transparent;

	&:hover {
		background: #FFFFFF;
		color: #E32026;
		border: 2px solid #E32026;
	}

	&_inverted {
		border: 2px solid #333333;
		box-sizing: border-box;
		border-radius: 4px;
		background: transparent;
		color: #333333;

		&:hover {
			background: #FFFFFF;
			color: #333333;
			border: 2px solid #333333;
		}
	}
}

a {
	color: #2F80ED;
}

.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox__text {
	position: relative;
	padding: 0 0 0 50px;
	cursor: pointer;
	color: #333;
	font-size: 18px;
	line-height: 28px;
}

.checkbox__text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 20px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	transition: .2s;
}

.checkbox__text:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
	background: #ffbc23;
}

.checkbox input:checked + .checkbox__text:after {
	left: 22px;
}

.checkbox input:focus + .checkbox__text:before {
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
}

/* * * * * * * * * * *
 * 									 *
 * Pages             *
 * Styles            *
 *                   *
 * * * * * * * * * * */

/* * * * * * * * * * *
* 									 *
* Block              *
* Styles             *
*                    *
* * * * * * * * * * */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


/* * * * * * * * * * *
* 									 *
* Media              *
* Queries            *
*                    *
* * * * * * * * * * */

//@import url("adaptive.less");
