<div class="bill">
	<div class="bill__inner container">
		<form class="bill__form js-form">
			<h2 class="bill__form-title">Регистрация чека</h2>
			<p class="bill__form-subtitle">Для участия в акции зарегистрируй свой чек, заполнив поля:</p>
			<img class="bill__part-bill mobile-show" src="img/glx-bill-mobile-1.png" alt="Чек">
			<div class="bill__form-line">
				<div class="bill__form-input bill__form-input_type_date">
					<span>Дата</span>
					<input type="text" name="date" placeholder="20.03.2019" data-mask="00.00.0000" class="js-markered" data-marker="1">
				</div>
				<div class="bill__form-input bill__form-input_type_time">
					<span>Время</span>
					<input type="text" name="time" placeholder="20:56" data-mask="00:00" class="js-markered" data-marker="2">
				</div>
				<div class="bill__form-input bill__form-input_type_cost">
					<span>Сумма</span>
					<input type="text" name="cost" placeholder="984932" class="js-markered" data-marker="3">
				</div>
			</div>
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>Номер ФН (фискальный номер)</span>
					<input type="text" name="fn" placeholder="8710000100518241" data-mask="0000000000000000" class="js-markered" data-marker="4">
				</div>
			</div>
			<img class="bill__part-bill mobile-show" src="img/glx-bill-mobile-2.png" alt="Чек">
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>Номер ФПД (также известен как ФП)</span>
					<input type="text" name="fp" placeholder="3522207165" data-mask="0000000000"  class="js-markered" data-marker="5">
				</div>
			</div>
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>Номер ФД (фиксальный номер)</span>
					<input type="text" name="fd" placeholder="54812" data-mask="00000" class="js-markered" data-marker="6">
				</div>
			</div>
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>ФИО участника</span>
					<input type="text" name="name" placeholder="Иванов Иван Иванович">
				</div>
			</div>
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>Номер телефона владельца чека</span>
					<input type="text" name="phone" class="js-phone" placeholder="+7 (___) ___ __ __">
				</div>
			</div>
			<div class="bill__form-line">
				<div class="bill__form-input">
					<span>E-mail</span>
					<input type="text" name="email" placeholder="example@mail.ru">
				</div>
			</div>
			<button type="submit" class="bill__form-btn btn">Зарегистрировать чек</button>
			<p class="bill__form-nda">Нажимая на кнопку, вы даете <a href="#">согласие на обработку своих персональных
			                                                                  данных</a></p>
		</form>
		<div class="bill__image mobile-hide js-bill">
			<p class="bill__attention-text">Расположение полей на чеке может отличаться, в зависимости от отдела в
			                                котором он был получен</p>
			<div class="bill__image-container">
				<img src="img/glx-bill.png" alt="Чек">
				<div class="bill__markered js-marker" data-id="1" style="top: 13.6%; left: 6%; width: 21%;"></div>
				<div class="bill__markered js-marker" data-id="2" style="top: 13.6%;left: 28%;width: 10%;"></div>
				<div class="bill__markered js-marker" data-id="3" style="top: 43.2%;left: 68%;width: 28%;"></div>
				<div class="bill__markered js-marker" data-id="4" style="top: 88%;left: 12%;width: 33%;"></div>
				<div class="bill__markered js-marker" data-id="5" style="top: 91.7%;left: 12%;width: 21%;"></div>
				<div class="bill__markered js-marker" data-id="6" style="top: 91.7%;left: 41%;width: 10%;"></div>
			</div>
		</div>
	</div>
</div>