<div class="bill bill_end">
    <div class="container bill__inner-end">
        <p class="bill__title">ПРИЁМ ЧЕКОВ ЗАКРЫТ</p>
        <p class="bill__text">Встречаемся на главном розыгрыше</p>
        <p class="bill__text bill__text_danger">27 октября в 17:00</p>
        <p class="bill__text">На уличной парковке у ТРЦ GALAXY</p>
    </div>
</div>