.bill {
  position: relative;
  z-index: 4;
  background: #FFF;

  @media @desktop {
    position: relative;
    top: -110px;
    height: 1000px;
  }

  &:after {
    content: "";
    left: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    background: url("../img/bill-bottom.png") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    bottom: -324px;

    @media @mobile {
      bottom: -150px;
      height: 150px;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
  }

  &__text {
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 1.1;

    &_danger {
      color: #E32026;
    }
  }

  &_end {
    padding-top: 220px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media @mobile {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &:after {
      bottom: -409px;
      background-size: 100% 90%;

      @media @mobile {
        bottom: -150px;
      }
    }

    @media @mobile {
      padding-top: 20px;
    }

    @media @desktop {
      height: auto;
    }
  }

  &__inner-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media @mobile {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-around;

    @media @mobile {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__form {
    max-width: 384px;

    @media (max-width: 500px) {
      width: 100%;
    }

    @media @desktop {
      margin-top: 120px;
    }
  }

  &__form-line {
    display: flex;

    @media @mobile {
      flex-wrap: wrap;
    }
  }

  &__form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #333;
      margin-bottom: 6px;
    }

    input {
      border: 2px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 16px;
      transition: border .15s ease, box-shadow .3s ease;

      &.error {
        border: 2px solid red;
        box-shadow: 0 0 3pt 2pt red;
      }

      //& + label.error {
      //	color:     red;
      //	font-size: 12px;
      //	height:    0;
      //	position:  relative;
      //	top:       -3px;
      //}

      &:focus {
        outline: none;
        border: 2px solid #F2C94C;
        box-shadow: 0 0 3pt 2pt #F2C94C;

      }

      &::placeholder {
        font-size: 16px;
        line-height: 24px;
        color: #BDBDBD;
      }
    }

    &_type {
      &_date {
        width: 35%;
      }

      &_time {
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
      }

      &_cost {
        width: 35%;
      }
    }

    @media @mobile {
      &_type {
        &_date {
          width: 50%;
          padding-right: 5px;
        }

        &_time {
          width: 50%;
          padding-left: 5px;
        }

        &_cost {
          width: 100%;
        }
      }
    }
  }

  &__image {
    max-width: 470px;
    position: relative;
    transition: top .5s ease;
    top: 0;

    img {
      width: 100%;
    }
  }

  &__form-btn {
    display: block;
    margin-top: 20px;
    width: 100%;

  }

  &__attention-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #828282;
  }

  &__form-title {
    font-weight: bold;
    font-size: 44px;
    line-height: normal;
    color: #333;
  }

  &__form-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
  }

  &__part-bill {
    width: 100%;
    margin-top: 20px;
  }

  &__markered {
    background: #F2C94C;
    opacity: 0.5;
    border-radius: 2px;
    height: 30px;
    position: absolute;
  }

  &__image-container {
    position: relative;
  }

}