<div class="welcome welcome_type_winners">
	<div class="welcome__inner container">
		<div class="welcome__logo">
			<img src="img/glx-logo.png" alt="">
		</div>
		<h1 class="welcome__title-win">Акция завершена!</h1>
		<div class="welcome__title">
			<img src="img/glx-subtitle.png" alt="">
		</div>
		<div class="welcome__people welcome__people_win">
			<img src="img/glx-people.png" alt="">
		</div>
	</div>
</div>