<meta charset="UTF-8">
<title>Galaxy</title>
<link rel="stylesheet" href="css/style.css">
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
